.nav li a {
	text-transform: uppercase;
	font-weight: 500;
	color: #efeef9!important;
	margin: 10px 15px;
	padding: 12px 15px;
	transition: all .2s;
	outline: 0;
}

.nav li a.subli {
	color: #BC9EC0!important;
}

.navbar-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    height: 60px;
}

a {
	color: #fff
}

body {
	/*font-family: freight-sans-pro,sans-serif;*/
	font-size: 14px;
	line-height: 1.428571429;
}

.btn-bold {
	background-color: #FFF;
	color: #6961a8;
	border-radius: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	padding: 14px 30px 15px;
	display: inline-block;
	text-decoration: none;
	font-family: adelle-sans, sans-serif;
	transition: all .2s;
	box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
	outline: 0;
}

.btn-lean {
	transition: all .2s;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	padding: 14px 30px 15px;
	display: inline-block;
	text-decoration: none;
	font-family: adelle-sans, sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	outline: 0;
}

.hero-buttons a {
	margin: 10px 5px;
}

.navbar {
	padding-top: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.section-headline {
	color: #8155a3;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: adelle-sans, sans-serif;
	margin-top: 0;
}

.who-are-authors {
	/*text-align: center;*/
	padding: 2rem 6rem;
    max-width: 74rem;
    margin: 0 auto;
	box-sizing:border-box;
}

.announcement {
	background-color: #f2f5fa;
	line-height: 1.2em;
	text-align: center;
	overflow: hidden;
	padding: 10px 0;
}

*,:after,:before {
	box-sizing: border-box;
}

.hero-headline {
	color: #fff;
	font-size: 45px;
	font-weight: 400;
	text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
	margin: 6rem 0 4rem;
}

.hero-tagline {
	color: #fff;
	font-family: freight-sans-pro, sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	margin: 2rem 0;
}

.btn-arrow-down.btn-arrow-white:after {
	background: url(./img/arrow-down-white.svg) no-repeat;
}

.btn-arrow-down:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 10px;
	width: 21px;
	margin: 0 -12px 0 10px;
	background: url(./img/3f185ca2.icon-arrow-down.svg) no-repeat;
}

.announcement p {
	display: inline-block;
	color: #81868f;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.2em;
	vertical-align: middle;
}

.section-space {
	padding: 0 3em;
}

.section-description {
	color: #555c71;
	font-size: 19px;
	font-weight: 400;
	border-left: 0.3rem solid #dce6f0;
}

.footer {
	background-color: #f2f5fa;
	line-height: 1.2em;
	padding: 10px 0;
}

.footer .footer-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ol,ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.footer .footer-nav li {
	display: inline-block;
	margin: 0 30px;
	font-family: adelle-sans, sans-serif;
	color: #ad88c8;
	transition: all .2s;
	font-size: 13px;
	font-weight: 700;
	/*text-transform: uppercase;*/
	display: inline-block;
	vertical-align: middle;
}

.nav li a.btn-signup {
	transition: all .2s;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 1.5em;
	font-weight: 600;
	line-height: 1;
	padding: 14px 16px 13px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	display: inline-block;
	text-decoration: none;
	box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.modal-title {
	text-align: center;
	font-family: ºÚÌå;
	color: #fff;
}

.modal-header p {
	color: #E3D1F0;
	text-align: center;
	font-size: 16px;
}

.modal-content {
	background: url(../img/bg.jpg) 0 0/cover no-repeat;
}

.modal-body label {
	color: rgba(255, 255, 255, .75);
	font-size: 15px;
}

.modal-footer {
	background: #EEE;
}

.modal-footer .btn-link {
	color: #939393;
}

.btn-bold-revert {
	background: url(../img/bg.jpg) 0 0/cover no-repeat;
	color: #fff;
	border-radius: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	padding: 16px 30px 14px;
	display: inline-block;
	text-decoration: none;
	transition: all .2s;
}

.modal-body .form-control {
	color: #FFF;
	background: rgba(0, 0, 0, .32);
	border: 1px solid rgba(0, 0, 0, .1);
	font-size: 15px;
	height: 44px;
}

.form-control2 {
	width: 82%;
	display: inline-block;
}

a.collapselink {
	text-decoration: none;
	line-height: 1.4;
	color: #fff;
}

a.collapselink:hover {
	text-decoration: underline;
}
.nav li a:hover{
	color:#fff!important;
	font-weight:600;	
}
.nav li a.btn-signup:hover{
	background:#C8B8CE;
}

.form-control3 {
	display:inline-block;
	width:15%;
	height:20px !important;
}

.main-menu > li > a {
    border: 1px solid rgba(221, 221, 221, 0.46);
    color: #BC9EC0!important;
    text-decoration: none;
}
.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: none;
}
.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.main-menu > li {
    margin-top: 0 !important;
}
.main-menu > li >a {
    margin: 0;
}
ul.main-menu li:hover {
    margin-left: 5px;
}
.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}
.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);
}
.box-header h2 {
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.box-icon {
    float: right;
}
.box-content {
    padding: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #6D7B95;
}
.top-block {
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    display: block;
    line-height: 22px;
    text-shadow: 0 0 1px #DDD;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
    -moz-box-shadow: inset 0 0 0 1px #FAFAFA;
    box-shadow: inset 0 0 0 1px #FAFAFA;
    background: -moz-linear-gradient(top, rgba(114, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(114, 87, 153, 0.2)), color-stop(100%, rgba(125, 185, 232, 0)));
    background: -webkit-linear-gradient(top, rgba(114, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -o-linear-gradient(top, rgba(114, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -ms-linear-gradient(top, rgba(114, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(114, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331e5799', endColorstr='#007db9e8', GradientType=0);
}

.top-block span {
    clear: both;
}

.top-block i {
    font-size: 25px;
}

.top-block:hover {
    text-decoration: none;
}
.notification {
    display: block;
    position: absolute;
    top: -10px;
    right: -5px;
    line-height: 16px;
    height: 16px;
    padding: 0 5px;
    font-family: Arial, sans-serif;
    color: white !important;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification {
    border-color: #2FABE9;
    background-color: #67C2EF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
    background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
    background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}

.notification.green {
    border-color: #5AAD34;
    background-color: #78CD51;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
    background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}

.notification.yellow {
    border-color: #F4A506;
    background-color: #FABB3D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.notification.red {
    border-color: #FA5833;
    background-color: #FA603D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
    background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}
.box-icon a {
    clear: none;
    float: left;
    margin: 0 2px;
    height: 20px;
    width: 5px;
    margin-top: 1px;
}
.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}
.box-icon a i {
    margin-left: -6px;
    top: -1px;
}
.mycontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}